.btn{
    height: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    cursor: pointer;
    &:focus{
        outline: none;
    }
}

.general {
    background-color: #313037;
    color: #FFFFFF;
    font-size: 24px;
    letter-spacing: 5%;
    text-align: center;
}

.panel{
    background-color: #FFFFFF;
    width: 56px;
}

